@media screen and (max-width: 480px) {
    body .content-box {
        width: unset;
        height: unset;
        left: 0;
        right: 0;
    }
    body .content-box.right {
        float: left;
    }
}

@media screen and (min-width: 480px) and (max-width: 600px) {
    body .content-box {
        width: unset;
        height: unset;
        left: 0;
        right: 0;
    }
    body .content-box.right {
        float: left;
    }
}

@media screen and (min-width: 600px) and (max-width: 768px) {
    body .content-box {
        width: unset;
        height: unset;
        left: 0;
        right: 0;
    }
    body .content-box.right {
        float: left;
    }
}

@media screen and (min-width: 768px) and (max-width: 900px) {
    body .content-box {
        width: 46.7%;
    }
}

@media screen and (min-width: 900px) and (max-width: 1024px) {
    body .content-box {
        width: 47.2%;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1200px) {
    body .content-box {
        width: 47.6%;
    }
}

@media screen and (min-width: 1200px) {
    body .content-box {
        width: 48%;
    }
}

.content-box {
    background-image: url('../images/text-bg.png');
    height: 50%;
    border: solid 1px #fbc316;
    padding: 10px;
    width: 46.7%;
    position: relative;
    overflow: hidden;
    float: left;
    margin-bottom: 5px;
}

.content-box.wide {
    width: unset;
    height: unset;
    left: 0;
    right: 0;
}

.content-box.right {
    float: right;
}

.content-box h3 {
    margin: 0 0 0 5px;
}

.content-box h4 {
    margin: 0 0 5px 0;
}

.read-more {
    background-image: url('../images/more.png');
    height: 38px;
    width: 150px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    border: none;
}
