@media screen and (max-width:768px) {
    #header ul.navigation {
        width: 1.4em;
        display: block;
        background: #ddd;
        font-size: 1.35em;
        text-align: center;
    }

    #nav.js {
        display: none;
    }

    ul {
        width: 100%;
        list-style: none;
    }

    li {
        width: 100%;
        border-right: none;
    }

}
