@font-face {
    font-family: 'atlas_of_the_magi';
    src: url('../fonts/atlas_of_the_magi-webfont.woff2') format('woff2'),
         url('../fonts/atlas_of_the_magi-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'enchanted_landregular';
    src: url('../fonts/enchanted_land-webfont.woff2') format('woff2'),
         url('../fonts/enchanted_land-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@media screen and (max-width: 480px) {
    body #header {
        height: 120px;
    }
    body #content {
        top:120px;
    }
}

@media screen and (min-width: 480px) and (max-width: 600px) {
    body #header {
        height: 120px;
    }
    body #content {
        top:120px;
    }
}

@media screen and (min-width: 600px) and (max-width: 768px) {
    body #header {
        height: 150px;
    }
    body #content {
        top:150px;
    }
}

@media screen and (min-width: 768px) and (max-width: 900px) {
    body #header {
        height: 180px;
    }
    body #content {
        top:180px;
    }
}

@media screen and (min-width: 900px) and (max-width: 1024px) {}

@media screen and (min-width: 1024px) and (max-width: 1200px) {}

@media screen and (min-width: 1200px) {}

body {
    background:#000000 url("../images/bg-header.png");
    background-position:top center;
    background-repeat:no-repeat;
    background-size: cover;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

h2 {
    margin: 5px;
}

img[align=right] {
    margin-left: 10px;
}

img[align=left] {
    margin-right: 10px;
}

#background {
    background-image: url("../images/bg-footer.png");
    background-position:bottom center;
    background-repeat:no-repeat;
    background-size: contain;
    position: absolute;
    height: 50%;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

#page {
    padding:0;
    margin: 0 auto;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

#header {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    margin: 0 auto;
    height:220px;
}

#content {
    position:absolute;
    top:220px;
    left: 0px;
    right: 0px;
    bottom:40px;
    color:#fbc316;
    text-align: justify;
    overflow-x: scroll;
}

#footer {
    text-align: center;
    color: #ffffff;
    position:absolute;
    height:40px;
    left:0px;
    right:0px;
    bottom: 0px;
    margin: 0 auto;
    line-height: 20px;
}

#header div.logo {
    background-image: url("../images/logo.png");
    background-position:top center;
    background-repeat:no-repeat;
    background-size: contain;
    position: absolute;
    top: 0px;
    left: 50px;
    right: 50px;
    height: 50%;
}

#header .navigation-background {
    background-image: url("../images/bg-navigation.png");
    background-position:center center;
    background-repeat:no-repeat;
    background-size: contain;
    position:absolute;
    left:50px;
    right:50px;
    bottom: 0px;
    height: 50%;
}

#header ul.navigation {
    list-style-type: none;
    position: absolute;
    left: 50px;
    right: 50px;
    bottom: 15px;
    height: 30%;
    margin: 0 auto;
    max-width: 930px;
}

#header ul.navigation li {
    float:left;
    text-align:center;
    width: 15%;
    line-height: 40px;
}

#header ul.navigation li a {
    font-family:Volkhov;
    font-size:20px;
    font-weight:normal;
    color:#311a0b;
    text-transform:uppercase;
    text-decoration:none;
    text-shadow:0 1px 0 #e5c288;
}

#header ul.navigation li a:hover {
    color:#ffffff;
}

#header ul.navigation li a.active {
    color:#ffffff;
}

#footer a {
    color: #ffffff;
}

